html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(48, 62, 143);
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  width: 100%;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 8px;
  padding: 15px 20px;
  width: 100%;
  color: #2979FF;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #2979FF;
  border-top: 2px solid #2979FF;
  padding-top:10px;
  font-family: "Great Vibes", cursive;
  text-shadow: 0 1px 1px #fff;
}
.header {
  font-family: 'Lobster';
  color: white;
  font-size: 1.5em;
  margin-top: 70px;
}
.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    margin-bottom: 50px;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}

